---
layout: compress
---

{% include base_path %}
{% assign default_color_theme = site.color_theme_default | downcase %}
{% if default_color_theme != "dark" and default_color_theme != "light" and default_color_theme != "system" %}
  {% assign default_color_theme = "system" %}
{% endif %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js" data-default-theme="{{ default_color_theme }}"{% if default_color_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
